{% extends 'base.html' %}
{% block style %}
    {{ block.super }}
    <style>
        td, tr {
            border: 1px solid black;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div align="center">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <form method="POST">
            <div class="row">
                <div class="col">
                    <div class="row disabled">
                        <div class="col col-8">
                            Название: <input type="text" name="name_snippet" value="{{ snippet.name }}" class="form-control" >
                        </div>
                        
                        <div class="col col-4">
                            <fieldset disabled>
                                Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                            </fieldset>
                        </div>  
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                                <textarea type="text" name="code_snippet" class="form-control">{{snippet.code}}</textarea>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class= "col">
                            Status: Public is {{snippet.public}} <br>
                            True  <input name='public_snippet' type="radio" value="True" required>
                            False  <input name='public_snippet' type="radio" value="False" required> 
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <div class="form-group row">
                                    <div class="col-8">
                                        <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}